<!DOCTYPE html>
<html>
<head>
  <title>Vermillion</title>
  <%= stylesheet_link_tag    "vermillion/application", media: "all" %>
  <%= javascript_include_tag "vermillion/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
